body{
    background-color:rgba(223, 197, 197, 0.774);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.valueBox{
    border:0;
    border-radius:10px;
    padding:5px;
}
.startButton{
    background-color:white;
    border:0;
    border-radius:10px;
    padding:5px;
}
.startButton:active{
    color:black;
    background-color:rgba(167, 109, 109, 0.671);
}
.text {
    position:relative;
    margin:auto;
    text-align:center;
}
.numberBox {
    position:relative;
    top:-15px;
    line-height:40px;
    margin-left:27%;
    margin-right:27%;
    width:fit-content;
    display:flex;
    flex-wrap:wrap;
}
.number {
    position:relative;
    font-size:150%;
    font-weight:bold;
    text-align:center;
    top:20px;
    width:40px;
    height:40px;
    border:solid 2px black;
    margin:10px;
}